.cards {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}
.card {
    width: 300px;
    height: 200px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}

.card img {
    display: block;
    margin: 10px auto;
    width: auto;
    height: 100%;
    text-decoration: none;
}

.card a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #54a1ffee;
    opacity: 0;
    transition: 0.4s all;
    text-decoration: none;
}

.card:hover > a {
    opacity: 1;
}

.card-head {
    height: 49px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ffffffee;
}

.card-head > span {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    float: left;
    color: #ffffff;
}

.card-info {
    height: 120px;
    width: 100%;
    padding: 10px;
}

.card-info > span {
    font-size: 20px;
    line-height: 20px;
    float: left;
    text-align: left;
    color: #ffffff;
}

.card-date {
    height: 30px;
    width: 100%;
    padding: 10px;
}

.card-date > span {
    font-size: 10px;
    line-height: 10px;
    text-align: right;
    float: right;
    color: #ffffff;
}