<lp-background></lp-background>
<p-toolbar>
  <div class="p-toolbar-group-start">
  </div>
  <div class="p-toolbar-group-center text-xl">
    Philip&nbsp;<span class="text-primary">Küchler</span>
  </div>
  <div class="p-toolbar-group-end">
    <p-toggleButton (onChange)="changeTheme()" [(ngModel)]="themeToggled" offIcon="pi pi-sun" onIcon="pi pi-moon"
                    styleClass="p-button-rounded"></p-toggleButton>
  </div>
</p-toolbar>
<div class="grid mx-auto content-container">
  <div class="col-12 menu-container">
    <p-megaMenu styleClass="col-12 w-full" [model]="items"></p-megaMenu>
  </div>
  <div class="col-12 mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
