<p-toolbar [style]="{'margin':'0', 'border-width':'0', 'border-radius': '0'}">
  <div class="p-toolbar-group-start">
  </div>
  <div class="p-toolbar-group-center">
        Philip Küchler
  </div>
  <div class="p-toolbar-group-end">
  </div>
</p-toolbar>
<div class="grid mx-0 mt-3">
  <div class="col-10 mx-auto" style="max-width: 1600px">
    <div class="grid">
      <div class="col-fixed w-15rem p-0 mr-3">
        <p-megaMenu styleClass="w-full" orientation="vertical" [model]="items"></p-megaMenu>
      </div>
      <div class="col p-menu">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
