:host ::ng-deep .p-toolbar {
  margin: 0;
  border-width: 0;
  border-radius: 0;
  background: transparent;
}

.content-container {
  max-width: 1600px;
}

.menu-container {
  //position: -webkit-sticky;
  //position: sticky;
  //top: 0;
}

.menu-container {

}

:host ::ng-deep .p-megamenu-root-list {
  justify-content: center;
  gap: 25px;
}

:host ::ng-deep .p-megamenu {
  background-color: transparent;
  border-width: 0;
}

.active {
  background-color: rgba(96, 165, 250, .4);
}
