
.scrollable {
	overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
	width: 8px;
}

.scrollable::-webkit-scrollbar-track {
	background: #f1f1f1;
	box-shadow: inset 0 0 3px grey;
}

.scrollable::-webkit-scrollbar-thumb {
	background: #888;
	box-shadow: inset 0 0 3px #555;
	border-radius: 8px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
	background: #555; 
	box-shadow: inset 0 0 3px #888; 
}