<div class="grid flex-column lg:flex-row">
  <div class="col-12 lg:col-4 p-4 flex">
    <p-image class="mx-auto" [src]="'/assets/img/Profile.png'" [imageClass]="'border-round-2xl'"
             height="500px"></p-image>
  </div>
  <div class="col-12 lg:col-8 p-4 text-2xl ml-0 lg:-ml-3">
    <p class="ml-0 lg:-ml-8 mb-5">
      <a class="text-primary">Hi</a>, ich bin Philip, {{age}} Jahre alt und bin Anwendungsentwickler.
    </p>
    <p class="ml-0 lg:-ml-8 mb-5">
      Innerhalb meiner <a class="text-primary">Ausbildung</a> erlernte ich sowohl die Planung, Entwicklung und das
      Testen, als auch die
      Installation, Wartung und den Support von Software.
    </p>
    <p class="ml-0 lg:-ml-3 mb-5">
      Durch mein privates Interesse an der Programmierung und die Unterstützung des Ausbildungsbetriebes habe ich
      bereits im ersten Lehrjahr die <a class="text-primary" style="text-decoration: none" href="/certificates">OCP-Zertifizierung</a>
      erworben, wodurch ich mein Wissen und Interesse an der Java Programmierung erweitern und festigen konnte.
    </p>
    <p class="ml-0 lg:-ml-4">
      Seit meiner Tätigkeit bei der eves_ IT bin ich <a class="text-primary">begeisteter Angular-Entwickler</a>.
      Seitdem konnte ich mein Wissen und meine Spezialisierung durch die tägliche Arbeit und
      <a class="text-primary" style="text-decoration: none" href="/certificates">zwei Weiterbildungen</a>
      erweitern.
    </p>
    <div class="w-full ml-0 lg:-ml-4">
      <a href="https://www.linkedin.com/in/philip-k-8bbb2918b/" target="_blank" pTooltip="LinkedIn Profile"
         tooltipPosition="bottom">
        <p-button icon="pi pi-linkedin" [rounded]="true" [text]="true" size="large"></p-button>
      </a>
      <a href="https://github.com/philipkuechler" target="_blank" pTooltip="Github Profil" tooltipPosition="bottom">
        <p-button icon="pi pi-github" [rounded]="true" [text]="true" size="large"></p-button>
      </a>
      <a href="mailto:philip.kuechler@web.de" target="_blank" pTooltip="E-Mail senden" tooltipPosition="bottom">
        <p-button icon="pi pi-envelope" [rounded]="true" [text]="true" size="large"></p-button>
      </a>
      <a href="/assets/downloads/Lebenslauf_Kuechler.pdf" target="_blank" pTooltip="Lebenslauf"
         tooltipPosition="bottom">
        <p-button icon="pi pi-download" [rounded]="true" [text]="true" size="large"></p-button>
      </a>
    </div>
  </div>
</div>
